---
layout: compress
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="rb-post">
          <header class="rb-post-heading" style="background-image: url(/images/portfolio/header.jpg);">
              <div class="wrapper rb-post-heading-title">
                  <h1 class="post-title" itemprop="name headline">The Things I've Created</h1>
              </div>
              <div class="rb-img-credit">
                <a href="https://unsplash.com/?photo=F1dSr7I4AmY">
                  Photo Credit
                </a>
              </div>
          </header>
          <div>
              <div class="rb-portfolio-section">
                  <div class="rb-portfolio-item">
                      <h2>The Village Website @ <a class="rb-link" href="http://www.villagesite.com">villagesite.com</a></h2>
                      <p>
                          While working at Aumnia, I worked closely with the marketing team at Village in Santa
                          Barbara to both design and develop a new site that represented their brand. They wanted a
                          site that said elegance and class as well as a site that had the power
                          to handle and manage thousands of market listings and users synchronously. We implemented
                          a killer fast ecosystem using a <strong>.Net API</strong>, a <strong>.Net Core App</strong>,
                          <strong>Entity Framework</strong>, and <strong>Automapper</strong>.
                      </p>
                      <a href="www.vilagesite.com">
                          <img src="/images/portfolio/villagesite.jpg" />
                      </a>
                  </div>


                  <div class="rb-portfolio-item">
                      <h2>Entrokey @ <a class="rb-link" href="http://www.entrokey.com">entrokey.com</a></h2>
                      <p>
                          I built the Entrokey (entropy + key) page in part so that people could use it to quickly and easily generate unique
                          passwords but mainly to demo the entrokey.js library I created. Its a small and simple way to generate highly random
                          and highly unique keys. Check it out on <a class="rb-link" href="https://github.com/raykrow/entrokey">GitHub</a>
                      </p>
                      <a href="www.vilagesite.com">
                          <img src="/images/portfolio/entrokey.png" />
                      </a>
                  </div>

              </div>

              <!-- <div class="rb-portfolio-section">

                  <div class="rb-portfolio-item">
                      <h2>The Village Website @ <a class="rb-link" href="www.villagesite.com">villagesite.com</a></h2>
                      <p>
                          Information about how I made this site and the thigs that
                          were big and small about it including enough information
                          to test out the layout but try to keep it under 300 words or source
                          becuase you dont need this to get out of hand.
                      </p>
                      <img src="/images/portfolio/villagesite.jpg" />
                  </div>
              </div> -->
          </div>
      </div>
    </div>

    {% include footer.html %}
    {% include scripts.html %}

  </body>

</html>
