
{% assign author = site.data.authors[page.author] %}

<div class="rb-wrapper">
    <div class="rb-post-author">
        <div style="background-image: url(/images/authors/{{ author.image }}/)"></div>
        <span>{{ author.name }}</span>
        <ul class="rb-post-author-social">
            {% for social in author.social %}
            <li>
                <a href="{{ social.url }}">
                    <img class="rb-icon-interact rb-icon rb-icon-{{ social.name }}" src="/images/social/social_{{ social.image_name }}.png" />
                </a>
            </li>
            {% endfor %}
        </ul>
        <p>{{ author.bio }}</p>
    </div>
</div>
