
{% assign author = site.data.authors[page.author] %}

<div class="rb-wrapper">
    <div class="rb-post-author">
        <div style="background-image: url(/images/authors/{{ author.image }}/)"></div>
        <span>{{ author.name }}</span>
        <ul class="rb-post-author-social">
            {% for social in author.social %}
            <li>
                <a href="github.com/{{ page.author-github }}">
                    <span class="icon icon-{{ social.name }}">{{ social.name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
        <p>{{ author.bio }}</p>
    </div>
</div>
