<header class="rb-header">

  <div class="rb-wrapper">

    <a class="rb-header-title" href="{{ site.baseurl }}/">Ray Krow</a>

    <div class="rb-header-menu-icon-container" id="mobile-menu-icon">

      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>
      <i class="fa fa-circle" aria-hidden="true"></i>

    </div>

    <div class="rb-header-menu">

      <ul id="mobile-menu">
        <li><a href="/about.html">About</a></li>
        <li><a href="/portfolio.html">Portfolio</a></li>
      </ul>

    </div>


  </div>

</header>
