

<div class="rb-post-heading" style="background-image: url(/images/posts/{{ page.dash-title }}/{{ page.primary-image }});">
    <div class="rb-post-heading-title">
        <h1 class="" itemprop="name headline">{{ page.title }}</h1>
        <p class="">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ page.date | date: "%b %-d %Y" }}
            </time>
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">{{ site.data.authors[page.author].name }}</span>
            </span>
        </p>
    </div>
    <div class="rb-img-credit">
      <a href="{{ page.photo_credit_url }}">
        Photo Credit
      </a>
    </div>
</div>
