//
//
//  Footer Styles
//
//


footer {
  @include rb-gradient;
  p {
    color: #ffffff;
  }
  ul > li {
    text-align: right;
    a {
      color: #ffffff;
      &:visited {
        color: #e8e8e8;
      }
    }
  }
}
