//
//
//  Footer Styles
//
//


footer {
  @include rb-gradient;

  display: flex;
  justify-content: center;

  padding: 30px 0;

  .rb-nav-github {
    align-self: center;
    > amp-img {
      height: 30px;
      width: auto;
      @media #{$medium-up} {
        height: 60px;
      }
    }
  }
}
