//
//
//  Header Styles
//
//

.rb-header {
  @include rb-gradient;

  .rb-header-title {
    color: #ffffff;
  }
  .rb-nav-github {
    float: right;
    > img {
      height: 30px;
      padding: ((56px - 30px) / 2) 0;
      width: auto;
    }
  }
}
