//
//
//  Header Styles
//
//

.rb-header {
  @include rb-gradient;

  padding: 30px $rb-global-page-margin / 2;

  .rb-header-title {
    float: left;
    color: #ffffff;
    font-family: $rb-title-font;
    text-decoration: none;
    font-size: 1.8em;
    &:hover {
      text-decoration: underline;
    }
  }
  $rb-rotation-time: .5s;
  .rb-header-menu-icon-container {

    float: right;
    transition: transform $rb-rotation-time ease;

    &:hover {
      cursor: pointer;
    }

    > i {
      color: #ffffff;
    }

  }

  .rb-header-menu {


    ul {

      height: 0;

      text-align: center;
      width: 100%;
      padding-top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      transition: height $rb-rotation-time ease;

      > li {
        opacity: 0;
        text-align: center;
        flex: 0 1 auto;
        padding: 20px 0;

        transition: opacity $rb-rotation-time ease-out;

        > a {
          color: #ffffff !important;
          text-decoration: none;
          font-family: $rb-title-font;
          font-weight: bold;
          font-size: 1.7em;
        }
      }
    }
  }

}

body.rb-show-mobile-menu {
  .rb-header {
    overflow: hidden;
    padding-bottom: 0;
    .rb-header-menu-icon-container {
      transform: rotate(90deg);
    }

    .rb-header-menu {

      ul {
        // ul gets height 100% of window in app.js
        > li {
          opacity: 1;
        }
      }
    }
  }

  // could do the hididng of elements while
  // header is open this way, however can't
  // get the timing right so put logic in js

  //> footer,
  //> div,
  //> section {
  //  display: none;
  //}
}
