//
//
//  Styles for post list on home page
//
//

$rb-post-col-space: 15px;

.rb-page-home {
    @include rb-wrapper();

    padding-right: 0;
    padding-left: 0;

    .rb-site-intro {
        padding: 0 $rb-global-page-margin / 2;
        padding-top: 10px;
        margin-top: 10px;
        color: $rb-charcoal;
    }
  ul.rb-post-list {
      > li {

          width: 100%;
          margin-top: 15px;
          float: left;

          img {
              height: 180px;
              // border-radius: 4px;
              width: 100%;
              overflow: hidden;
              object-fit: cover;
          }
          h2 {
              margin-bottom: 9px;
              font-size: 1.8em;
          }
          .rb-post-date {
              color: $rb-accent-color;
              font-size: 1.2em;
              display: block;
              padding-top: 8px;
          }

          .rb-post-date, h2, p {
              padding-left: $rb-global-page-margin / 2;
              padding-right: $rb-global-page-margin / 2;
          }
      }
  }
}
