//
//
//  Styles for post list on home page
//
//

$rb-post-col-space: 15px;

.rb-page-home {
    @include rb-wrapper();
  ul.rb-post-list {
      > li {
          width: 100%;
          float: left;

          img {
              height: 180px;
              border-radius: 4px;
              width: 100%;
              overflow: hidden;
              object-fit: cover;
          }
          h2 {
              margin-bottom: 5px;
          }
          .rb-post-date {
              color: $rb-accent-color;
              font-size: .87em;
              display: block;
              padding-top: 8px;
          }
      }
  }
}
