//
//
//  Styles for post list on home page
//
//

$rb-post-col-space: 15px;

.home ul.post-list {
    > li {
        width: 47%;
        width: calc(50% - #{$rb-post-col-space});
        float: left;
        &:nth-child(even) {
            padding-left: $rb-post-col-space;
        }
        &:nth-child(odd) {
            padding-right: $rb-post-col-space;
        }
        img {
            height: 180px;
            border-radius: 4px;
            width: 100%;
            overflow: hidden;
            object-fit: cover;
        }
    }
}
