//
//
//  Layouts
//
//

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin rb-wrapper {
    max-width: -webkit-calc(#{$rb-content-width} - (#{$rb-global-page-margin} * 2));
    max-width:         calc(#{$rb-content-width} - (#{$rb-global-page-margin} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $rb-global-page-margin;
    padding-left: $rb-global-page-margin;

    @extend %clearfix;

    @media #{$medium-up} {
        max-width: -webkit-calc(#{$rb-content-width} - (#{$rb-global-page-margin}));
        max-width:         calc(#{$rb-content-width} - (#{$rb-global-page-margin}));
        padding-right: $rb-global-page-margin / 2;
        padding-left: $rb-global-page-margin / 2;
    }
}

@mixin rb-wrapper-inner {
    max-width: -webkit-calc(#{$rb-content-width} - (#{$rb-global-page-margin} * 4));
    max-width:         calc(#{$rb-content-width} - (#{$rb-global-page-margin} * 4));
    margin-right: auto;
    margin-left: auto;
    padding-right: $rb-global-page-margin;
    padding-left: $rb-global-page-margin;
    @extend %clearfix;

    @media #{$medium-up} {
        max-width: -webkit-calc(#{$rb-content-width} - (#{$rb-global-page-margin}));
        max-width:         calc(#{$rb-content-width} - (#{$rb-global-page-margin}));
        padding-right: $rb-global-page-margin / 2;
        padding-left: $rb-global-page-margin / 2;
    }
}

.rb-wrapper {
    @include rb-wrapper();
}

.pull-right {
  float: right;
}
