//
//
//  Styles for Links and Buttons
//
//

// for buttons
.rb-button-link {
  padding: 6px;
}

.rb-link {
  color: $rb-primary-color;
  text-decoration: none;
  &:visited,
  &:active,
  &:hover {
    color: $rb-secondary-color;
    text-decoration: underline;
  }

  &:hover {
    cursor: pointer;
  }
}


