//
//
//  General Styles for Posts
//
//

$rb-post-author-img-size: 200px;

.rb-post {

    .rb-post-content {
        margin: 25px 0;
        > figure > pre,
        h2, h3, h4, h5, h6 {
            @include rb-wrapper();
            margin-top: 2em;
            margin-bottom: .3em;
            line-height: 1.5em;
        }
        h2 {
            font-size: 1.3rem;
            @media #{$medium-up} {
                font-size: 1.89rem;
            }
        }
        > p {
            @include rb-wrapper();
        }
        > blockquote {
            @include rb-wrapper-inner();
            margin-left: 30px;
            border-left: 8px solid $rb-accent-color;
            > p {
                line-height:1.89em;
                font-size: .92rem;
                padding-top: 10px;
                color: lighten($rb-charcoal, 8%);
            }
        }
        img {
            width: 100%;
            height: auto;
        }
        h4 {
            font-size: 1.8rem;
        }
        h3 {
            font-size: 1.62rem;
        }
        > a,
        > p > a {
            @extend .rb-link;
        }

        figure {
            overflow-x: scroll;
            span {
                font-family: monospace;
            }
        }
    }

    .rb-post-author {
        margin-top: 60px;
        margin-bottom: 60px;
        text-align: center;
        > span {
            padding-top: 8px;
            font-size: 2.3rem;
            display: inline-block;
        }
        div {
            width: $rb-post-author-img-size;
            height: $rb-post-author-img-size;
            border-radius: 50%;
            background-position: center center;
            background-size: cover;
            margin: 0 auto;
        }
        p {
            margin: 0 auto;
            font-size: 15px;
            color: $rb-light-charcoal;
        }

        .rb-post-author-social {
            margin: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 0;
            li {
                flex: 0 1 auto;
                margin: 0 4px;
            }
        }


    }

    .rb-the-end {
        text-align: center;
        span {
            font-size: 45px;
            font-family: $rb-script-font;
        }
    }



}
