//
//
//  Font Styles
//
//

html {
  font-size: 12px;
}

h1,h2,h3,h4,h5,h6, title {
  font-family: $rb-title-font;
}

p, span, div {
  font-family: $rb-body-font;
  color: $rb-charcoal;
}

p {
  line-height:2em;
  font-size: 1rem;
  margin-top: 5px;
}

@media #{$medium-up} {
  html {
    font-size: 16px;
  }
  p {
    font-size: 1.3rem;
    line-height: 2.2em;
  }
}