
// Our variables
$base-font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;






$on-palm:          600px;
$on-laptop:        800px;


