---
layout: compress
---

<!DOCTYPE html>
<html amp>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="rb-post">
          {% include post-heading.html %}
          <div>
              <article itemscope itemtype="http://schema.org/BlogPosting">
                  <div class="rb-post-content" itemprop="articleBody">
                      {{ content }}
                  </div>
              </article>
              <div class="rb-wrapper rb-the-end">
                  <span>The End</span>
              </div>
              {% include author.html %}
          </div>
      </div>
    </div>

    {% include footer.html %}

    {% include scripts.html %}

  </body>

</html>
